* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  text-wrap-style: balance;
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-onyx);
}