.icon-filled {
  display: none;
}

.add-to-basket {
  background-color: white;
  border-radius: 20px;
  border: none;
  padding: 5px 8px;

  font-family: Palanquin;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  white-space: nowrap;
}

.added {
  color: var(--orange);
}

.change-amount {
  height: 18px;
  width: 18px;
  stroke: var(--black);
  stroke-width: 1.5px;
  fill: transparent;
}

.icon-delete {
  height: 20px;
  width: 18px;
  fill: var(--black);
}

.btn-buy {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  background-color: var(--orange);
  border-radius: 60px;
  width: 100%;
  line-height: 80%;
  height: 64px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable {
  display: none;
}

.btn-close {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  align-self: flex-end;
  margin-right: 12px;
  color: var(--beige-light);
}

.icon-close {
  width: 16px;
  height: 16px;
  fill: var(--beige-light);
  display: block;
  color: var(--beige-light);
}

.basket-cards::-webkit-scrollbar {
  width: 8px;
  height: 64px;
}

.basket-cards::-webkit-scrollbar-track {
  background: var(--grey);
  border-radius: 4px;
}

.basket-cards::-webkit-scrollbar-thumb {
  background: var(--beige-light);
  border-radius: 4px;
}

.basket-cards::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}

.icon-nav {
  height: 30px;
  width: 30px;
  fill: white;
}

.btn-nav {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.btn-basket {
  position: relative;
}

.basket-nav-amount {
  display: none;
}

.basket-nav-amount.opened {
  width: 15px;
  height: 15px;
  background-color: var(--beige-light);
  font-size: 12px;
  font-weight: 600;
  color: var(--orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -1px;
  top: -3px;
}

.btn-nav:active {
  background-color: white;

  .icon-nav {
    fill: var(--orange);
  }
}
