.icon-filled {
  display: none;
}

.add-to-basket {
  background-color: white;
  border-radius: 20px;
  border: none;
  padding: 5px 8px;

  font-family: Palanquin;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  white-space: nowrap;
}

.added {
  color: var(--orange);
}

.change-amount {
  height: 18px;
  width: 18px;
  stroke: var(--black);
  stroke-width: 1.5px;
  fill: transparent;
}

.icon-delete {
  height: 20px;
  width: 18px;
  fill: var(--black);
}

.btn-buy {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  background-color: var(--orange);
  padding: 13px 37px;
  border-radius: 60px;
  width: 350px;
}

.disable {
  display: none;
}

.btn-close {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-close {
  width: 16px;
  height: 16px;
  fill: var(--beige-light);
  display: block;
}

.basket-cards::-webkit-scrollbar {
  width: 8px;
}

.basket-cards::-webkit-scrollbar-track {
  background: var(--grey);
  border-radius: 4px;
}

.basket-cards::-webkit-scrollbar-thumb {
  background: var(--beige-light);
  border-radius: 4px;
}

.basket-cards::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}
