.basket-wrapper {
  width: 435px;
}

.basket {
  display: none;
}

.basket-opened {
  width: 435px;
  height: auto;
  padding: 60px 30px;
  margin-top: 60px;
  background-color: var(--black);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  position: sticky;
  top: 0;
}

.basket-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.basket-card {
  background-color: var(--beige-light);
  padding: 20px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 1.375rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.basket-dish {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dish-name {
  line-height: 120%;
  text-align: left;
}

.basket-info {
  display: flex;
  justify-content: space-between;
}

.basket-amount {
  display: flex;
  align-items: center;
  gap: 6px;
}

.confirm-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: white;
  width: 100%;
}

.costs {
  width: 100%;
  font-size: 1.25rem;

  th {
    text-align: left;
    height: 26px;
    font-weight: 600;
  }

  td {
    text-align: right;
    height: 26px;
    font-weight: 600;
  }

  .total {
    font-size: 22px;
    font-weight: 700;
  }
}
